# Merge

eingeführt SQL Server 2008

**<u>vereinfachte Syntax:</u>**

<span class="crayon-i" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;color:rgb(0, 128, 128);">MERGE</span> <span class="crayon-k" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;color:rgb(0, 0, 255);">TOP</span> <span class="crayon-sy" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;color:rgb(51, 51, 51);">(</span><span class="crayon-k" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;color:rgb(0, 0, 255);">value</span><span class="crayon-sy" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;color:rgb(51, 51, 51);">)</span> <span class="crayon-o" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;color:rgb(0, 128, 128);">target_table</span><span class="crayon-o" style="margin:0px;padding:0px;border:0px;vertical-align:baseline;font-family:inherit;"><font color="#808080">&gt;<br></font></span><span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">USING</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">table_source</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;"><font color="#808080">&gt;<br></font></span><span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">ON</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">merge_search_condition</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;"><font color="#808080">&gt;<br></font></span><span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">WHEN</span> <span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">MATCHED</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k " style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">AND</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">clause_search_condition</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;"><font color="#333333">]<br></font></span><span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">THEN</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">merge_matched</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">]<br></span><span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">WHEN</span> <span class="crayon-k " style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">NOT</span> <span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">MATCHED</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">BY</span> <span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">TARGET</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">]</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k " style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">AND</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">clause_search_condition</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;"><font color="#333333">]<br></font></span><span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">THEN</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">merge_not_matched</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">]<br></span><span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">WHEN</span> <span class="crayon-k " style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">NOT</span> <span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">MATCHED</span> <span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">BY</span> <span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">SOURCE</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k " style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">AND</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">clause_search_condition</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;"><font color="#333333">]<br></font></span><span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">THEN</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">merge_matched</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">]<br></span><span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">output_clause</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">]<br></span><span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">[</span> <span class="crayon-k" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 0, 255);">OPTION</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">(</span> <span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&lt;</span><span class="crayon-i" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(0, 128, 128);">query_hint</span><span class="crayon-o" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(128, 128, 128);">&gt;</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">)</span> <span class="crayon-sy" style="font-family:inherit;margin:0px;padding:0px;border:0px;vertical-align:baseline;color:rgb(51, 51, 51);">]<br></span><span style="color:rgb(51, 51, 51);font-family:inherit;">;</span>

[https://docs.microsoft.com/en-us/sql/t-sql/statements/merge-transact-sql?view=sql-server-ver15](https://docs.microsoft.com/en-us/sql/t-sql/statements/merge-transact-sql?view=sql-server-ver15)

**<u>UseCase:</u>** Man hat eine neue Tabelle (Quelle) und man möche diese mit den bestehenden Daten (Target) abgleichen.  

Hierbei gibt es 3 Fälle:

- neue Datensätze (Quelle) sollen in der Zieltabelle (Target) ergänzt werden
- veraltete Datensätze (Target) sollen gelöscht werden, da sie in der Quelle (Source) nicht mehr vorkommen
- Datensaätze die sich verändert haben sollen entsprechend der Werte in der Quelle (Source) in der Zieltabelel (Target) aktualisiert werden.

![SQL Server MERGE](https://www.sqlservertutorial.net/wp-content/uploads/SQL-Server-MERGE.png)  

Grafik: [https://www.sqlservertutorial.net/sql-server-basics/sql-server-merge/](https://www.sqlservertutorial.net/sql-server-basics/sql-server-merge/)

**<u>Beispiel 1:</u>** Vorbereitung

In [1]:
USE MASTER
GO
DROP DATABASE IF EXISTS MERGETEST
GO
CREATE DATABASE MERGETEST
GO

USE MERGETEST
GO
-- TAbellen befüllen
-- Drop Table dbo.category
-- Drop Table dbo.category_staging
CREATE TABLE dbo.category (
    category_id INT PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL,
    amount DECIMAL(10 , 2 )
);
 
INSERT INTO dbo.category(category_id, category_name, amount)
VALUES(1,'Children Bicycles',15000),
    (2,'Comfort Bicycles',25000),
    (3,'Cruisers Bicycles',13000),
    (4,'Cyclocross Bicycles',10000);
 
 
CREATE TABLE dbo.category_staging (
    category_id INT PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL,
    amount DECIMAL(10 , 2 )
);
 
 
INSERT INTO dbo.category_staging(category_id, category_name, amount)
VALUES(1,'Children Bicycles',15000),
    (3,'Cruisers Bicycles',13000),
    (4,'Cyclocross Bicycles',20000),
    (5,'Electric Bikes',10000),
    (6,'Mountain Bikes',10000);

In [ ]:
USE MERGETEST
GO
-- Tabellen ausgeben
Select * from dbo.category
Select * from dbo.category_staging
-- 2 fehlt in STAGING
-- 4 hat ungleiche Werte
-- 5+6 ins neu in STAGING

## Beispiel 1.1: Angleichen der category an die category\_staging

- Löschen von DS 2
- Update von DS 4
- Einfügen von DS 5,6

![SQL Server MERGE Example](https://www.sqlservertutorial.net/wp-content/uploads/SQL-Server-MERGE-Example.png)

**<u>Anmerkung:</u>**  
Mit "**Begin Transaction**" wird eine Transaktion gestartet  
und mit "**Rollback Transaction**" wieder zurückgerollt

Innerhalb der Transaktion gemachte Änderungen können so einfach wieder rückgängigemacht werden.

In [2]:
-- ohne Ausgabe der Änderungen
BEGIN TRANSACTION
    MERGE dbo.category t 
        USING dbo.category_staging s
    ON (s.category_id = t.category_id) -- über welche Felder wird verglichen
    WHEN MATCHED
        THEN UPDATE SET 
            t.category_name = s.category_name,
            t.amount = s.amount
    WHEN NOT MATCHED BY TARGET 
        THEN INSERT (category_id, category_name, amount)
            VALUES (s.category_id, s.category_name, s.amount)
    WHEN NOT MATCHED BY SOURCE 
        THEN DELETE;

    Select * from dbo.category
    Select * from dbo.category_staging
ROLLBACK TRANSACTION

category_id,category_name,amount
1,Children Bicycles,"15000,00"
3,Cruisers Bicycles,"13000,00"
4,Cyclocross Bicycles,"20000,00"
5,Electric Bikes,"10000,00"
6,Mountain Bikes,"10000,00"

category_id,category_name,amount
1,Children Bicycles,"15000,00"
3,Cruisers Bicycles,"13000,00"
4,Cyclocross Bicycles,"20000,00"
5,Electric Bikes,"10000,00"
6,Mountain Bikes,"10000,00"

In [3]:
-- mit Ausgabe der Änderungen
BEGIN TRANSACTION
    MERGE dbo.category t 
        USING dbo.category_staging s
    ON (s.category_id = t.category_id)
    WHEN MATCHED
        THEN UPDATE SET 
            t.category_name = s.category_name,
            t.amount = s.amount
    WHEN NOT MATCHED BY TARGET 
        THEN INSERT (category_id, category_name, amount)
            VALUES (s.category_id, s.category_name, s.amount)
    WHEN NOT MATCHED BY SOURCE 
        THEN DELETE
    -- Unterschied zu oben
    OUTPUT $action, Inserted.category_id as Inserted_category_id, 
        Inserted.category_name as Inserted_category_name,
        Inserted.amount as Inserted_camount,
        Deleted.category_id as Deleted_category_id,
        Deleted.category_name as Deleted_category_name,
        Deleted.amount as Deleted_camount,
        getdate() as [DateSTtamp];
    --
    Select * from dbo.category
    Select * from dbo.category_staging
ROLLBACK TRANSACTION

$action,Inserted_category_id,Inserted_category_name,Inserted_camount,Deleted_category_id,Deleted_category_name,Deleted_camount,DateSTtamp
UPDATE,1,Children Bicycles,"15000,00",1,Children Bicycles,"15000,00",2022-02-05 09:17:17.167
DELETE,NULL,NULL,NULL,2,Comfort Bicycles,"25000,00",2022-02-05 09:17:17.167
UPDATE,3,Cruisers Bicycles,"13000,00",3,Cruisers Bicycles,"13000,00",2022-02-05 09:17:17.167
UPDATE,4,Cyclocross Bicycles,"20000,00",4,Cyclocross Bicycles,"10000,00",2022-02-05 09:17:17.167
INSERT,5,Electric Bikes,"10000,00",NULL,NULL,NULL,2022-02-05 09:17:17.167
INSERT,6,Mountain Bikes,"10000,00",NULL,NULL,NULL,2022-02-05 09:17:17.167

category_id,category_name,amount
1,Children Bicycles,"15000,00"
3,Cruisers Bicycles,"13000,00"
4,Cyclocross Bicycles,"20000,00"
5,Electric Bikes,"10000,00"
6,Mountain Bikes,"10000,00"

category_id,category_name,amount
1,Children Bicycles,"15000,00"
3,Cruisers Bicycles,"13000,00"
4,Cyclocross Bicycles,"20000,00"
5,Electric Bikes,"10000,00"
6,Mountain Bikes,"10000,00"

In [4]:
-- mit Ausgabe der Änderungen
BEGIN TRANSACTION
    MERGE dbo.category t 
        USING dbo.category_staging s
    ON (s.category_id = t.category_id)
    WHEN MATCHED and ((s.category_name <> t.category_name) or (s.amount <> t.amount))
        THEN UPDATE SET 
            t.category_name = s.category_name,
            t.amount = s.amount
    WHEN NOT MATCHED BY TARGET 
        THEN INSERT (category_id, category_name, amount)
            VALUES (s.category_id, s.category_name, s.amount)
    WHEN NOT MATCHED BY SOURCE 
        THEN DELETE
    -- Unterschied zu oben
    OUTPUT $action, Inserted.category_id as Inserted_category_id, 
        Inserted.category_name as Inserted_category_name,
        Inserted.amount as Inserted_camount,
        Deleted.category_id as Deleted_category_id,
        Deleted.category_name as Deleted_category_name,
        Deleted.amount as Deleted_camount,
        getdate() as [DateSTtamp];
    --
    Select * from dbo.category
    Select * from dbo.category_staging
ROLLBACK TRANSACTION

$action,Inserted_category_id,Inserted_category_name,Inserted_camount,Deleted_category_id,Deleted_category_name,Deleted_camount,DateSTtamp
DELETE,NULL,NULL,NULL,2,Comfort Bicycles,"25000,00",2022-02-05 09:19:24.757
UPDATE,4,Cyclocross Bicycles,"20000,00",4,Cyclocross Bicycles,"10000,00",2022-02-05 09:19:24.757
INSERT,5,Electric Bikes,"10000,00",NULL,NULL,NULL,2022-02-05 09:19:24.757
INSERT,6,Mountain Bikes,"10000,00",NULL,NULL,NULL,2022-02-05 09:19:24.757

category_id,category_name,amount
1,Children Bicycles,"15000,00"
3,Cruisers Bicycles,"13000,00"
4,Cyclocross Bicycles,"20000,00"
5,Electric Bikes,"10000,00"
6,Mountain Bikes,"10000,00"

category_id,category_name,amount
1,Children Bicycles,"15000,00"
3,Cruisers Bicycles,"13000,00"
4,Cyclocross Bicycles,"20000,00"
5,Electric Bikes,"10000,00"
6,Mountain Bikes,"10000,00"

In [ ]:
-- mit Ausgabe der Änderungen
BEGIN TRANSACTION
    MERGE dbo.category t 
        USING dbo.category_staging s
    ON (s.category_id = t.category_id)
    WHEN MATCHED and (Checksum(s.category_name,s.amount) <> Checksum(t.category_name,t.amount))
        THEN UPDATE SET 
            t.category_name = s.category_name,
            t.amount = s.amount
    WHEN NOT MATCHED BY TARGET 
        THEN INSERT (category_id, category_name, amount)
            VALUES (s.category_id, s.category_name, s.amount)
    WHEN NOT MATCHED BY SOURCE 
        THEN DELETE
    -- Unterschied zu oben
    OUTPUT $action, Inserted.category_id as Inserted_category_id, 
        Inserted.category_name as Inserted_category_name,
        Inserted.amount as Inserted_camount,
        Deleted.category_id as Deleted_category_id,
        Deleted.category_name as Deleted_category_name,
        Deleted.amount as Deleted_camount,
        getdate() as [DateSTtamp];
    --
    Select * from dbo.category
    Select * from dbo.category_staging
ROLLBACK TRANSACTION

In [ ]:
-- das selbe Ergebnis kann auch über 3 separate Statments erreicht werden
BEGIN TRANSACTION

Select * from dbo.category
Select * from dbo.category_staging

-- Teil 1: neue DS einfügen
    INSERT INTO dbo.category([category_id],[category_name],[amount])
    Select [category_id],[category_name],[amount] from [dbo].[category_staging]
    where [category_id] in (
    Select [category_id] from [dbo].[category_staging]
    Except
    Select [category_id] from [dbo].[category])

    -- Wenn es keine Spalten gibt, die nicht nullable sind, kann man es folgendermaßen machen.
    -- geht in diesem Fall nicht, da [Category_name] nicht nullable ist
    /*
    INSERT INTO dbo.category([category_id])
    Select [category_id] from [dbo].[category_staging]
    Except
    Select [category_id] from [dbo].[category]
    */

-- Teil 2: DS löschen
    Delete dbo.category
    Where [category_id] in (Select [category_id] from [dbo].[category]
                                EXCEPT 
                                Select [category_id] from [dbo].[category_staging])

-- Teil 3: Update
    Update [target]
    Set [target].[category_name] = [source].[category_name]
    ,[target].[amount] = [source].[amount]
    from [dbo].[category] as [target]
    inner join [dbo].[category_staging] as [source]
    on [target].[category_id] = [source].[category_id]

Select * from dbo.category
Select * from dbo.category_staging
ROLLBACK TRANSACTION

## Beispiel 1.2: Angleichen der category\_staging an die category

- Einfügen von DS 2
- Update von DS 4
- Löschen von DS 5,6

In [ ]:
-- ohne Ausgabe der Ergebnisse
BEGIN TRANSACTION
    MERGE dbo.category_staging t 
        USING dbo.category s
    ON (s.category_id = t.category_id)
    WHEN MATCHED
        THEN UPDATE SET 
            t.category_name = s.category_name,
            t.amount = s.amount
    WHEN NOT MATCHED BY TARGET 
        THEN INSERT (category_id, category_name, amount)
            VALUES (s.category_id, s.category_name, s.amount)
    WHEN NOT MATCHED BY SOURCE 
        THEN DELETE;

    Select * from dbo.category
    Select * from dbo.category_staging
ROLLBACK TRANSACTION

In [ ]:
-- mit Ausgabe der Ergebnisse
BEGIN TRANSACTION
    MERGE dbo.category t 
        USING dbo.category_staging s
    ON (s.category_id = t.category_id)
    WHEN MATCHED and ((s.category_name <> t.category_name) or (s.amount <> t.amount))
        THEN UPDATE SET 
            t.category_name = s.category_name,
            t.amount = s.amount
    WHEN NOT MATCHED BY TARGET 
        THEN INSERT (category_id, category_name, amount)
            VALUES (s.category_id, s.category_name, s.amount)
    WHEN NOT MATCHED BY SOURCE 
        THEN DELETE
    OUTPUT $action, Inserted.category_id as Inserted_category_id, 
        Inserted.category_name as Inserted_category_name,
        Inserted.amount as Inserted_camount,
        Deleted.category_id as Deleted_category_id,
        Deleted.category_name as Deleted_category_name,
        Deleted.amount as Deleted_camount;


    Select * from dbo.category
    Select * from dbo.category_staging
ROLLBACK TRANSACTION

**<u>Beispiel 2:</u>** Vorbereitung

In [ ]:
USE MASTER
GO
DROP DATABASE IF EXISTS MERGETEST2
GO
CREATE DATABASE MERGETEST2
GO

USE MERGETEST2
GO

Create table StudentSource
(
     ID int primary key,
     Name nvarchar(20)
)
GO

Insert into StudentSource values (1, 'Mike')
Insert into StudentSource values (2, 'Sara')
GO

Create table StudentTarget
(
     ID int primary key,
     Name nvarchar(20)
)
GO

Insert into StudentTarget values (1, 'Mike M')
Insert into StudentTarget values (3, 'John')
GO

![merge statement in sql server](https://3.bp.blogspot.com/-hHq_PK6YpP8/VCsOGkMMOGI/AAAAAAAAWEA/YY4dv-kAu-4/s1600/merge%2Bstatement%2Bin%2Bsql%2Bserver.png)

In [ ]:
BEGIN TRANSACTION
    Select * from StudentSource
    Select * from StudentTarget

    MERGE StudentTarget AS T
    USING StudentSource AS S
    ON T.ID = S.ID
    WHEN MATCHED THEN
        UPDATE SET T.NAME = S.NAME
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ID, NAME) VALUES(S.ID, S.NAME)
    WHEN NOT MATCHED BY SOURCE THEN
        DELETE;

    Select * from StudentTarget
ROLLBACK TRANSACTION

![merge in sql server 2008](https://2.bp.blogspot.com/-UnpkvliwSh4/VCsPCO_T5RI/AAAAAAAAWEI/NmbIEBr1Zp4/s1600/merge%2Bin%2Bsql%2Bserver%2B2008.png)

In [ ]:
BEGIN TRANSACTION
    Select * from StudentSource
    Select * from StudentTarget

    MERGE StudentTarget AS T
    USING StudentSource AS S
    ON T.ID = S.ID
    WHEN MATCHED THEN
        UPDATE SET T.NAME = S.NAME
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ID, NAME) VALUES(S.ID, S.NAME);

    Select * from StudentTarget
ROLLBACK TRANSACTION

weiterführende Links:

- [https://www.sqlservertutorial.net/sql-server-basics/sql-server-merge/](https://www.sqlservertutorial.net/sql-server-basics/sql-server-merge/)
- [https://www.sqlshack.com/sql-server-merge-statement-overview-and-examples/](https://www.sqlshack.com/sql-server-merge-statement-overview-and-examples/)
- https://csharp-video-tutorials.blogspot.com/2014/09/part-69-merge-in-sql-server.html